Binaries
DerivedDataCache
Intermediate
Saved
/Builds/
/Content/MixamoAnimPack
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Content/Mannequin
/Content/StarterContent

.idea/.idea.My_3rd_Person/.idea/
Content/Particles_Wind_Control_System/
